__pycache__/
.pytest_cache/
.venv
.idea/
.coverage
htmlcov/
.env
input_directory/*
output_directory/*
!input_directory/.gitkeep
!output_directory/.gitkeep
test_video.mp4
nima.h5
common/test_files/best_frames/*
common/test_files/top_images/*