__pycache__/
.pytest_cache/
.venv
.idea/
.coverage
htmlcov/
.env
input_directory/*
output_directory/*
!input_directory/.gitkeep
!output_directory/.gitkeep
test_video.mp4
nima.h5
tests/test_files/best_frames/*
tests/test_files/top_images/*
!tests/test_files/best_frames/.gitkeep
!tests/test_files/top_images/.gitkeep